@model ICollection<ASP_laby.Models.Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista książek</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł:
            </th>
            <th>
                Autor:
            </th>
            <th>
                Data publikacji:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in @Model)
        {
        <tr>
            <td>
                @book.Title
            </td>
            <td>
                @book.Author
            </td>
            <td>
                @book.PublishingYear
            </td>
        </tr>
        }
    </tbody>
</table>